
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@model assignment.Models.Attractions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅游网站</title>
    <link href="~/Content/Edit.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function success(data) {
            if (data === "OK") {
                alert("编辑成功");
                window.location.href = '@Url.Action("Index", "Attractions")';

            } else  {
                alert("参数提交失败");
            }
        }
    </script>

</head>
<!-- 最上端 -->
<body>
    <div class="header w">
        <div class="logo">
            <a href="@Url.Action("home","Home")"><img src="~/Content/img/logo.jpg" /></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="@Url.Action("Index","Login")">Log Out</a></li>
            </ul>
        </div>
    </div>
    <!-- 导航栏 -->
    <div class="nav2">
        <ul>
            <li><a href="@Url.Action("home","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Attractions")">Ticket</a></li>
            <li><a href="@Url.Action("Destinations","Destinations")"><div>Destinations</div></a></li>
            <li><a href="@Url.Action("Contact","Contact")">Contact</a></li>
        </ul>
    </div>
    <!--内容 -->
    @using (Ajax.BeginForm("Edit", "Attractions", new AjaxOptions { OnSuccess = "success",HttpMethod = "post" }))
    {
        @Html.HiddenFor(m => m.AttractionID)

        <div>
            @Html.LabelFor(m => m.AttractionID)
        </div>
        <div>
            @Html.EditorFor(m => m.AttractionID)
        </div>
        <div>
            @Html.LabelFor(m => m.CityName)
        </div>
        <div>
            @Html.EditorFor(m => m.CityName)
        </div>
        <div>
            @Html.LabelFor(m => m.AttractionName)
        </div>
        <div>
            @Html.EditorFor(m => m.AttractionName)
        </div>
        <div>
            @Html.LabelFor(m => m.Price)
        </div>
        <div>
            @Html.EditorFor(m => m.Price)
        </div>

        <p>
            <input type="submit" value="保存" /> <a href="@Url.Action("Index","Attractions")">返回</a>
        </p>
    }

    <!--页脚-->

    <footer>
        <p>&copy; 2023 Travel Website. All rights reserved.</p>
        <p>Email complaint: <a href="mailto:1692985870@qq.com">1692985870@qq.com</a></p>
        <p>Validate your code: <a href="https://validator.w3.org/" target="_blank">HTML5 Validator</a> | <a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS3 Validator</a></p>
    </footer>


</body>
</html>

